.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
#logo {
  font-size: 600%;
color:rgb(4, 32, 6);
}
.logo {
  margin-top: -60px;
}
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    text-decoration: underline;
  }
  h1 {
    font-size: 40px;
    padding: 0px;
    margin-left: -35px;
    margin-top: -25px;
  }
