.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
#logo {
  font-size: 600%;
color:rgb(3, 14, 3);
}
.logo {
  margin-top: -60px;
}
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #EAAB1B;
    text-decoration: underline;
  }
  .h1 {
    font-size: 40px;
    padding: 0px;
    margin-left: -35px;
    margin-top: -25px;
  }
  .eclipse {
    background-color:  #649549;
    width: 1000px;
    height: 1000px;
    border-radius: 400%;
    margin-top: -500px;
    position: absolute;
    top: 0px;
    margin-left: 400px;
    z-index: -1;
  }
  html {
   overflow-x:  hidden;
  font-family: 'Poppins', sans-serif;
  }
  .page1 {
  margin: 0px;
  padding: 0px;
  }
  .intro {
    height: 400px;
    width: 400px;
    margin-left: 40px;
    text-align: justify;
    font-size: 20px;
  padding-top: 20px;

  }
  .h1s {
    display: flex;
   font-size: 25px;
  }
  .street {
    color:  #6CB840;
    padding-right: 13px;
  
  }
  .food {
    color: #EAAB1B;
  }
  .play {
  position: absolute;
  top: 260px;
  }
.order {
  height: 45px;
  width: 170px;
  background-color:  #6CB840;
  text-align: center;
  padding-top: 10px;
  border-radius: 25px;
  position: relative;
  bottom: 120px;
  left: 35px;
  font-size: 20px;
}
#white {
  color: white;
}
.orbit {
  height: 500px;
  width: 500px;
  border-radius: 100%;
  border-top-style: dotted;
  margin-left: 600px;
  position: absolute;
  top: 200px;
}
.orbit img:first-child{
  position: absolute;
  left: -40px;
  top: 150px;
}
.orbit img:nth-child(2) {
  position: absolute;
  top: 15px;
  left: 30px;
}
.orbit img:nth-child(3) {
  position: absolute;
  top: -35px;
  left: 200px;
}
.orbit img:nth-child(4) {
  position: absolute;
  top: 25px;
  right: 10px;
}
.orbit img:nth-child(5) {
  position: absolute;
  top: 200px;
  right: -40px;
}
.orbit img:nth-child(6) {
  position: absolute;
  top: 200px;
  right: 150px;
  height: 200px;
  width: 200px;
}
.page2 {
  padding-top: 50px;
}
.page2 img {
  height: 600px;
  width: 700px;
}
.eat {
  height: 500px;
  width: 400px;
  float: right;
  position: relative;
  top: 200px;
  font-size: 20px;
  margin-right: 100px;
  text-align: center;
}
.page2 h1 {
  color: #EAAB1B;
}
.page3 img {
  height: 170px;
  width: 200px;
}
.menu {
  color: #6CB840;
}
.explore {
position: relative;
right: -500px;
top: 40px;
font-size: 30px;
}
#now {
  position: absolute;
  top: 190px;
  color: white;
  font-weight: bold;
}
.column1 {
  height: 150px;
  width: 290px;
  background-color: white;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%;
}
#p1{
  text-align: center;
  height: 50px;
  width: 150px;
  float: right;
  padding-top: -70px;
  padding-right: -100px;
}
.column2 {
  height: 150px;
  width: 290px;
  background-color: white;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%;
}
#p2{
  text-align: center;
  height: 50px;
  width: 150px;
  float: right;
  padding-top: -70px;
  padding-right: -100px;
}
.column3 {
  height: 150px;
  width: 290px;
  background-color: white;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%;
}
#p3{
  text-align: center;
  height: 50px;
  width: 150px;
  float: right;
  padding-top: -70px;
  padding-right: -100px;
}
.row1 {
  display: flex;
  justify-content: space-around;
}
.column4 {
  height: 150px;
  width: 290px;
  background-color: white;
  flex-direction: row-reverse;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%;
}
#p4{
  text-align: center;
  height: 50px;
  width: 150px;
  float: right;
  padding-top: -70px;
  padding-right: -100px;
  margin: -20px;
}
.column5 {
  height: 150px;
  width: 290px;
  background-color: white;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%;
}
#p5{
  text-align: center;
  height: 50px;
  width: 150px;
  float: right;
  padding-top: -70px;
  padding-right: -100px;
}
.column6 {
  height: 150px;
  width: 290px;
  background-color: white;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%;
}
#p6{
  text-align: center;
  height: 50px;
  width: 150px;
  float: right;
  padding-top: -70px;
  padding-right: -100px;
}
.row2 {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}
.o1 {
 position: relative;
 left: 3px;
 top: 200px;
}
.o2{
position: relative;
top: 200px;
left: 200px;
}
.o3 {
position: relative;
top: 200px;
left: 400px;
}
.o4 {
  position: relative;
  top: 410px;
  left: -600px;
}
.o5 {
  position: relative;
  top: 410px;
}
.o6 {
  position: relative;
  top: 410px;
  right: 600px;
}
.sumb {
  position: relative;
  top: -100px;
}
.page3 {
  background-color: #EAF3E4;
  margin: 20px;
}
.special {
  height: 500px;
  width: 500px;
  float: right;
  padding-right: 100px;
  padding-top: 100px;
}
.special p {
  text-align: center;
}
.page4 {
  font-size: 20px;
  background-color: #C9ECB5;
 height: 550px;
 margin: 20px;
 margin-top: -20px;
  
}
.hot {
  display: flex;
  position: relative;
  left: 500px;
  top: 50px;
  font-size: 20px;

}
.ht {
  padding-right: 10px;
  
}
.deals {
  color: #6CB840;
}
.combo {
  color: #6CB840;
}
.juice {
  display: flex;
  position: absolute;
  right: 830px;
  top: 2000px;
  height: 500px;
}
.burger {
  display: flex;
  position: absolute;
  right: 650px;
  top: 2200px;
  height: 350px;
}
.grey {
  height: 700px;
  width: 100%;
  background-color: #E5E5E5;
  position: absolute;
  top:0px;
  z-index: -1;
}
.page5 {
  height: 550px;
  font-size: 20px;
  background-color:#FFF5DD;
  margin: 20px;
  margin-top: -20px;
}
.cc {
  display: flex;
  text-align: center;
  position: relative;
  left: 500px; 
 
}
.us {
  color: #6CB840;
}
.contact {
  margin-right: 10px;
}
.para {
  text-align: center;
  position: relative;
  left: 400px;
  padding-top: -15px;
  width: 400px;
}
input {
  width: 400px;
  height: 30px;
  position: relative;
  right: 80px;
  border-radius: 20px;
  display: block;
}
footer {
  position: relative;
  top: 50px;
  left: 400px;
}
button {
  width: 200px;
  height: 20px;
  padding: 100px;
}
form {
  position: relative;
  left: 480px;
}
